.navvbar{
    width: 40px;
    height: 40px;
    margin: 0.5vw 0.5vw 0.5vw 5vw;
};
.navbar-brand{
    background-color: aqua;
}
.div-navbar{
    background-color: #181818;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container-fluid{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navbar-brand{
    color: azure;
}
.nav-link{
    color: azure;
}
.d-flex{
    
}