<footer class="justify-content-center">
    <ul class="nav justify-content-center border-bottom  mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Perguntas Frequentes</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Central de Ajuda</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Termos de uso</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Privacidade</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-6 text-muted">Preferencias de Cookies</a></li>
    </ul>
</footer>