<style>
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
</style>

<div class="home1">
    <div class="divtitulo1">
        <h1 class="chamativo1home">Pague suas contas e nos pague quando der!</h1>
    </div>
    <main class="container">
        <div class="imgprincipal">
            <img src="..\assets\imgprincipal.png" class="img">
        </div>
        <div class="imgprincipal">
            <img src="..\assets\89753ee8-6e8a-45ae-97c6-dc8cdb0c4c22-removebg-preview.png" class="img2">
        </div>
    </main>
    <div class="formteste">
        <div class="formulario">
            <div class="login-page">
                <div class="form">
                    <form class="login-form">
                        <input type="text" placeholder="Email"/>
                        <input type="password" placeholder="Senha"/>
                        <button>Entrar</button>
                        <p class="message">Não tem registro? <a href="#">Criar uma conta</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="containerCards">
        <div class="card" style="width: 15rem;">
            <img src="..\assets\WhatsApp Image 2023-05-15 at 19.18.56 (3).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Dinheiro na palma da mão!</h5>
                <p class="card-text">Solicite e receba instantaneamente na sua conta bancária!</p>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="..\assets\WhatsApp Image 2023-05-15 at 19.18.56.jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Limite alto de empréstimo!</h5>
                <p class="card-text">Peça quanto precisar, sem frescuras!</p>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="..\assets\WhatsApp Image 2023-05-15 at 19.18.56 (1).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Receba em qualquer moeda!</h5>
                <p class="card-text">Precisa de dólar? Euro? Rubro? Sem problemas!</p>
            </div>
        </div>
        <div class="card" style="width: 15rem;">
            <img src="..\assets\WhatsApp Image 2023-05-15 at 19.18.56 (2).jpeg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Juros cobrados serão úteis para nossa empresa!</h5>
                <p class="card-text">Não sonegue os juros, para seu próprio bem...</p>
            </div>
        </div>
    </div>
</div>